{% extends 'core/base.html' %}
{% load static %}

{% block content%}
<div class=" container mt-4">
    <h1 class="text-warning mb-5 border-bottom">SERVICES</h1>
    <!-- row 1 -->
    <div class="row  text-center text-white mb-5">
        <div class="col-sm-4">
            <i class="fa-solid fa-magnifying-glass fa-2x mb-3 i-color"></i>   
            <h3>SEO</h3>  
            <p class="ss-color">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Consequatur, optio!</p>           
        </div>
        <div class="col-sm-4">
            <i class="fa-solid fa-palette fa-2x mb-3 i-color"></i>   
            <h3>Web Design</h3>  
            <p class="ss-color">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Consequatur, optio!</p>           
        </div>
        <div class="col-sm-4">
            <i class="fa-solid fa-code fa-2x mb-3 i-color"></i>   
            <h3>Web Development</h3>  
            <p class="ss-color">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Consequatur, optio!</p>           
        </div>
    </div>
    <!-- row 2 -->
    <div class="row  text-center text-white mb-5">
        <div class="col-sm-4">
            <i class="fa-solid fa-magnifying-glass fa-2x mb-3 i-color"></i>   
            <h3></h3>  
            <p class="ss-color">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Consequatur, optio!</p>           
        </div>
        <div class="col-sm-4">
            <i class="fa-solid fa-palette fa-2x mb-3 i-color"></i>   
            <h3>Web Design</h3>  
            <p class="ss-color">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Consequatur, optio!</p>           
        </div>
        <div class="col-sm-4">
            <i class="fa-solid fa-code fa-2x mb-3 i-color"></i>   
            <h3>Web Development</h3>  
            <p class="ss-color">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Consequatur, optio!</p>           
        </div>
    </div>

</div>

{% endblock content%}